/* Reset spacing */

body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}


/* Background */

body {
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    font-family: Arial, sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 100vh;

    color: white;
}


/* Header */

header {
    font-family: 'Poppins', Arial;
    background-color: rgba(0,0,0,0.9);
    color: cyan;

    text-align: center;

    padding: 20px;
    width: 100%;

    position: fixed;
    top: 0;

    font-size: 22px;
}


/* Container (same layout as main page) */

.container {
    max-width: 900px;
    width: 100%;
}


/* Word Cloud Result Box */

.answer {

    margin-top: 60px;

    width: 80%;
    max-width: 1000px;

    padding: 25px;

    border-radius: 12px;

    background: rgba(0,0,0,0.75);

    text-align: center;

    box-shadow: 0 10px 30px rgba(0,0,0,0.6);
}


/* Word Cloud Image */

.answer img {

    width: 100%;
    max-width: 850px;

    border-radius: 10px;

}


/* Footer */

footer {

    background-color: rgba(0,0,0,0.9);
    color: white;

    text-align: center;

    padding: 10px;

    width: 100%;

    position: fixed;
    bottom: 0;

}